      <footer class="bg-white">
        <div class="minh-280 flex-middle-center">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 minh-140 flex-middle">
                <div id="laboratoria-banner"></div>
              </div>
              <div class="col-sm-6 minh-140 flex-middle text-right normalize-text">
                <p>Ecomunidad sostenible<br><a href="mailto:hola@ecomunidad" class="text-gray underline">hola@ecomunidad.com.pe</a><br><span class="text-gray-light">51 998 887 776</span></p>
              </div>
            </div>
          </div>
        </div>
        <div class="bg-gray-darker text-center">
          <div class="container text-gray pv-7">
            Icons made by <a href="http://www.flaticon.com/authors/alessio-atzeni" title="Alessio Atzeni">Alessio Atzeni</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>             is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a>
          </div>
        </div>
      </footer>
    </div>
  </div>
  <script src="{site_url}app/assets/js/jquery.min.js"></script>
  <script src="{site_url}app/assets/js/scripts.min.js"></script> 
  <script type="text/javascript" src="https://cdn.rawgit.com/Laboratoria/Laboratoria.02/master/LaboratoriaBanner/laboratoriaBanner.js"></script>
</html>