<!-- <header class="header flex-middle-center pv-7">
  <div class="container flex-space-between">
    <div class="left col-sm-4">
      <a href="{site_url}#inicio" class="logo"><img src="{site_url}src/img/ecomunidad-logo.png" alt="Logo Ecomunidad" class="ignore-srcset"></a>
    </div>
    <div class="right col-sm-8">
      <nav class="main-nav">
        <a href="#mision">Misión</a>
        <a href="#metodologia">Metodología</a>
        <a href="#servicios">Servicios</a>
        <a href="#proyectos">Proyectos</a>
        <a href="#equipo">Equipo</a>
        <a href="{site_url}blog">Blog</a>
      </nav>
    </div>
  </div>
</header> -->


<header class="header">
  <div class="container">
    <div class="col-sm-4 col-xs-4">
      <a href="{site_url}#inicio" class="logo"><img src="{site_url}src/img/ecomunidad-logo.png" alt="Logo Ecomunidad" class="ignore-srcset"></a>
    </div>
    <div class="flex-middle">
      <div class="main-nav">
        <div class="navbar mt-28">
          <div class="navbar-header">
            <button type="button" class="tcon tcon-menu--xcross hidden-lg pull-right" aria-label="toggle menu" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="tcon-menu__lines" aria-hidden="true"></span>
              <span class="tcon-visuallyhidden">toggle menu</span>
            </button>
          </div>

          <div class="navbar-collapse collapse text-right">
            <nav class="main-nav mt-21">
              <a href="#mision">Misión</a>
              <a href="#metodologia">Metodología</a>
              <a href="#servicios">Servicios</a>
              <a href="#proyectos">Proyectos</a>
              <a href="#equipo">Equipo</a>
              <a href="{site_url}blog">Blog</a>
            </nav>
          </div>
          <!--/.nav-collapse -->
        </div>
      </div>      
    </div>
  </div>
</header>

