<header class="header flex-middle-center pv-7">
  <div class="container flex-space-between">
    <div class="left col-sm-4">
      <a href="{site_url}#inicio" class="logo"><img src="{site_url}src/img/ecomunidad-logo.png" alt="Logo Ecomunidad" class="ignore-srcset"></a>
    </div>
    <div class="right col-sm-8">
      <nav class="main-nav">
        <a href="{site_url}#mision">Misión</a>
        <a href="{site_url}#metodologia">Metodología</a>
        <a href="{site_url}#servicios">Servicios</a>
        <a href="{site_url}#proyectos">Proyectos</a>
        <a href="{site_url}#equipo">Equipo</a>
        <a href="{site_url}#blog">Blog</a>
      </nav>
    </div>
  </div>
</header>