{embed="includes/head"}
  {exp:channel:entries channel="home" limit="1"}
    <div class="hero-unit"> <!-- HERO-UNIT -->
      <div class="hero-unit-pic">
        {imagen_principal}
        <img src="{image:url}" alt="{title}" srcset="{image:url:small} 480w, {image:url:medium} 720w, {image:url:large} 940w, {image:url} 1140w">
        {/imagen_principal}
      </div>
      <div class="overlay flex-middle">
        <div class="container-sm">
          {bloque_principal}
        </div>
      </div>
    </div> <!-- END:Hero-unit -->
    <div class="site-content pv-ch-70">
      <section class="bg-gray-lighter text-center">
        <div class="container">
          <p class="lead text-gray">{texto_introductorio}</p>
        </div>
      </section>
      {embed="home/mision"}
      {embed="home/metodologia"}
      {embed="home/servicios"}
      <section id="proyectos" class="bg-success">
        <div class="container-fluid ph-70-sm text-white">
          <h2 class="serif-light section-title">Proyectos</h2>
          <div class="mb-ch-21">
            {embed="home/proyecto"}
          </div>
        </div>
      </section>
      <section id="equipo">
        <div class="container-fluid ph-70-sm">
          <h2 class="section-title text-success">Equipo</h2>
        </div>
        <div class="container text-center">
          {embed="home/equipo"}
        </div>
      </section>
      {embed="home/blog"}
      {embed="home/mision"}
      {embed="home/comparte"}
      {embed="includes/footer"}
  {exp:channel:entries}
