{embed="includes/head"}
  {exp:channel:entries channel="home" limit="1"}
    <div class="hero-unit"> <!-- HERO-UNIT -->
      <div class="hero-unit-pic">
        {imagen_principal}
        <img src="{image:url}" alt="{title}" srcset="{image:url:small} 480w, {image:url:medium} 720w, {image:url} 940w, {image:url} 1140w">
        {/imagen_principal}
      </div>
      <div class="overlay flex-middle">
        <div class="container-sm">
          <!--<h1 class="text-center text-white">{bloque_principal}</h1>-->
        </div>
      </div>
    </div> <!-- END:Hero-unit -->
    <div class="site-content">
      <section class="bg-gray-lighter text-center pv-35">
        <div class="container-sm">
	        <h2 class="text-center text-success">{bloque_principal}</h2>
          <h4 class="text-gray mt-7 mb-14 light">{texto_introductorio}</h4>
        </div>
      </section>
      {embed="home/mision"}
      {embed="home/metodologia"}    
      {embed="home/servicios"}
      <section id="proyectos" class="bg-success pv-35">
        <div class="container pb-35 text-white">
          <h2 class="serif-light section-title text-center lead">Proyectos</h2>
          <div class="mb-ch-21">
            {embed="home/proyecto"}
          </div>
        </div>
      </section>
      <section id="equipo" class="pv-35 bg-gray-lighter">
        <div class="container">
          <h2 class="section-title text-success text-center lead">Equipo</h2>
        </div>
        <div class="container text-center pb-35">
          {embed="home/equipo"}
        </div>
      </section>
      <section id="blog" class="pb-49" style="background-image: url({site_url}assets/img/seamless_paper_texture.png)">
        <div class="container">
          <h2 class="section-title text-center lead">Blog</h2>
          {embed="home/blog"}
        </div>
      </section>
      {embed="home/comparte"}
      {embed="includes/footer"}
  {/exp:channel:entries}
