{exp:channel:entries channel="metodologia" limit="1" dynamic="off"}
  <section id="metodologia">
    <div class="clearfix">
      {if imagen_metodologia}
        {imagen_metodologia}
      <div class="col-sm-6 minh-630 bg-img-block-center" style="background-image: url({image:url})"></div>
        {/imagen_metodologia}
      {if:else}
      <div class="col-sm-6 minh-630 bg-img-block-center" style="background-image: url({site_url}app/assets/img/img-720.png)"></div>
      {/if}
      <div class="col-sm-6 minh-630 flex-middle-center text-white text-center ph-70-sm" style="background-image: url({site_url}app/assets/img/pool_table.png)">
        <div>
          <div>
            {icono_metodologia}
            <img src="{image:url}" alt="Metodolog&#xED;a" style="width: 210px; height: auto;" srcset="{image:url:small} 480w, {image:url:medium} 720w, {image:url:large} 940w, {image:url} 1140w">
            {/icono_metodologia}
          </div>
          <h3 class="lead serif-light section-title">Metodología</h3>
          <p>{texto_metodologia}</p>
        </div>
      </div>
    </div>
  </section>
{/exp:channel:entries}