{exp:channel:entries channel="proyecto" dynamic="off"}
  <div class="banner">
    <div class="banner-pic col-sm-6">
      {imagen_proyecto}
      <img src="{image:url}" alt="Banner pic" srcset="{image:url:small} 480w, {image:url:medium} 720w, {image:url:large} 940w, {image:url} 1140w">
      {/imagen_proyecto}
    </div>
    <div class="banner-content col-sm-6">
      <div class="normalize-text serif-light pv-21">
        <h2>{title}</h2>
        <span>{distrito_del_proyecto}</span>
      </div>
      <p class="h4 light">{descripcion_del_proyecto}</p>
    </div>
  </div>
{/exp:channel:entries}